<agm-map [latitude]="(place | async)?.coordinates.lat" [longitude]="(place | async)?.coordinates.lng" [zoom]="18">
  <agm-marker [latitude]="(place | async)?.coordinates.lat" [longitude]="(place | async)?.coordinates.lng"></agm-marker>
</agm-map>

<mat-card (swipeup)="open()" (swipedown)="close()" [class.opened]="opened">
  <mat-card-header>
    <mat-icon mat-card-avatar (click)="goBack()">arrow_back</mat-icon>
    <mat-card-title (click)="toggle()">{{(place | async)?.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip *ngFor="let activity of (place | async)?.activities; let i = index" [color]="chip(i)" selected="true">{{activity}}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>