<agm-map [latitude]="(place | async)?.coordinates.lat" [longitude]="(place | async)?.coordinates.lng" [zoom]="18" [scrollwheel]="false">
  <agm-marker [latitude]="(place | async)?.coordinates.lat" [longitude]="(place | async)?.coordinates.lng"></agm-marker>
</agm-map>

<mat-card (swipeup)="open()" (swipedown)="close()" [class.opened]="opened">
  <mat-card-header>
    <mat-icon mat-card-avatar (click)="goBack()">arrow_back</mat-icon>
    <mat-card-title (click)="toggle()">{{(place | async)?.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip *ngFor="let activity of (place | async)?.activities; let i = index" [color]="chip(i)" selected="true">{{activity}}</mat-chip>
    </mat-chip-list>
    <div>
      <h3>Wikipedia</h3>
      <p>{{(place | async)?.description}} </p>
      <a mat-button class="text-right" *ngIf="(place | async)?.wikipediaId" [href]="'https://en.wikipedia.org/?curid='+(place | async)?.wikipediaId"
        target="_blank">Read More</a>
    </div>
    <mat-list>
      <h3>Upcoming Events</h3>
      <ng-template ngFor [ngForOf]="events | async" let-event *ngIf="(events | async)?.length; else create">
        <mat-list-item (click)="eventClick(event)">
          <h4 mat-line>{{event.activity + ' event on ' + (event.starts | date)}}</h4>
          <p mat-line> {{event.description}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-template>
    </mat-list>
  </mat-card-content>
</mat-card>

<button mat-fab *ngIf="(user | async)" (click)="createEvent()">
  <mat-icon>event_available</mat-icon>
</button>

<ng-template #create>
  <mat-list-item class="text-center">
    <h4 mat-line>No Events Found</h4>
    <p mat-line *ngIf="(user | async)" (click)="createEvent()">(Create One?)</p>
  </mat-list-item>
  <mat-divider></mat-divider>
</ng-template>
