agm-map {
  .gmnoprint,
  .gm-svpc {
    display: none !important;
  }
}

mat-card-title {
  font-size: 1.2rem !important;
}

pop-home-index {
  mat-tab-group {
    div.mat-tab-body-wrapper {
      mat-tab-body {
        min-height: calc(100vh - 113px);
        height: calc(100vh - 113px);
        max-height: calc(100vh - 113px);
        @media (max-width: 600px) and (orientation: portrait) {
          min-height: calc(100vh - 105px);
          height: calc(100vh - 105px);
          max-height: calc(100vh - 105px);
        }
      }
    }
  }
}

pop-home-nearby {
  background-color: white;
}