<!-- Profile Card -->
<section fxLayoutAlign="center center">
  <mat-card>
    <img mat-card-image src="" alt="Your profile picture.">
    <mat-card-content>
      <h1>{{(user|async)?.name}}</h1>
      <p>Rank: Here</p>
    </md-card-content>
  </md-card>
</section>

<!-- Trophies -->
<section fxLayoutAlign="center center">
  <md-card>
    <md-card-header>
      Trophies
    </md-card-header>
  </md-card>
</section>

<!-- Activities -->
<section>
  <mat-card>
    <h1>What are your favorite activities?</h1>
    <md-chip-list #activityChips>
      <md-chip *ngFor="let activity of activites">{{activity.name}}></md-chip>
    </md-chip-list>
    <input mdChipInputFor="activityChips">
  </md-card>
</section>